<div class="container px-6 mx-auto grid">
  <div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
    <div
      class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="chests-text"
          class="text-4xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Chests
        </h2>
      </div>
    </div>

    <div
      class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="chests-type-text"
          class="text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Type
        </h2>

        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingChestGreen"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="green-text" class="dark:text-white ml-4">Green</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingChestBlue"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="blue-text" class="dark:text-white ml-4">Blue</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingChestPurple"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="purple-text" class="dark:text-white ml-4">Purple</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingChestYellow"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="yellow-text" class="dark:text-white ml-4">Yellow</span>
        </label>
      </div>
    </div>

    <div
      class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="mists-text"
          class="text-4xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Mists
        </h2>
      </div>
    </div>

    <div
      class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="mists-type-text"
          class="text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Type
        </h2>

        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistSolo"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="mists-solo-text" class="dark:text-white ml-4">Solo</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistDuo"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="mists-duo-text" class="dark:text-white ml-4">Duo</span>
        </label>

        <h2
          id="mists-enchant-text"
          class="mt-4 text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Enchant
        </h2>

        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistE0"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span class="dark:text-white ml-4">E0</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistE1"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span class="dark:text-white ml-4">E1</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistE2"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span class="dark:text-white ml-4">E2</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistE3"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span class="dark:text-white ml-4">E3</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingMistE4"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span class="dark:text-white ml-4">E4</span>
        </label>
      </div>
    </div>

    <div
      class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingCage"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="wisp-cages-text" class="dark:text-white ml-4"
            >Show wisp cages</span
          >
        </label>
      </div>
    </div>

    <div
      class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="dungeons-text"
          class="text-4xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Dungeons
        </h2>
      </div>
    </div>

    <div
      class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="dungeons-type-text"
          class="text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Type
        </h2>
        <label
          id="disabled-checkbox"
          for="disabled-checkbox"
          class="flex items-center space-x-2"
        >
          <input
            type="checkbox"
            id="settingDungeonSolo"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="dungeons-solo-text" class="dark:text-white ml-4">Solo</span>
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingDungeonDuo"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="dungeons-group-text" class="dark:text-white ml-4"
            >Group</span
          >
        </label>

        <h2
          id="dungeons-enchant-text"
          class="mt-4 text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Enchant
        </h2>
        <div class="flex">
          <label class="flex items-center">
            <input
              type="checkbox"
              id="settingDungeonE0"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span class="dark:text-white ml-2">E0</span>
          </label>
          <label class="flex items-center ml-4">
            <input
              type="checkbox"
              id="settingDungeonE1"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span class="dark:text-white ml-2">E1</span>
          </label>

          <labe l class="flex items-center ml-4">
            <input
              type="checkbox"
              id="settingDungeonE2"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span class="dark:text-white ml-2">E2</span>
          </labe>
          <label class="flex items-center ml-4">
            <input
              type="checkbox"
              id="settingDungeonE3"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span class="dark:text-white ml-2">E3</span>
          </label>
          <label class="flex items-center ml-4">
            <input
              type="checkbox"
              id="settingDungeonE4"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span class="dark:text-white ml-2">E4</span>
          </label>
        </div>

        <h2
          id="other-text"
          class="mt-4 text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Other
        </h2>

        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingDungeonCorrupted"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="corrupted-text" class="dark:text-white ml-4"
            >Corrupted</span
          >
        </label>
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingDungeonHellgate"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="hellgate-text" class="dark:text-white ml-4">Hellgate</span>
        </label>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/chest_handler.js" defer></script>
