<link rel="stylesheet" href="/style/home.css" />

<div class="container px-6 mx-auto grid">
  <div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
    <!-- Card -->
    <div
      class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h2
          id="players-text"
          class="text-4xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Players
        </h2>
      </div>
    </div>

    <div
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h4
          id="show-text"
          class="text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Show
        </h4>

        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="settingDot"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="dot-text" class="dark:text-white ml-4">ON/OFF</span>
        </label>

        <div class="ml-4">
          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingNickname"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="name-text" class="dark:text-white ml-4">Nickname</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="name-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the name of the other player.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingHealth"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="health-text" class="dark:text-white ml-4">Health</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="health-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the health bar of the other player.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingMounted"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="mounted-text" class="dark:text-white ml-4">Mounted</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="mounted-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows a green circle if the player is mounted and a red circle
                if the player is unmounted.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingItems"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="items-text" class="dark:text-white ml-4">Items</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="items-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the equipment the other player is carrying.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input type="checkbox" id="settingItemsDev"" class=" h-5 w-5
            text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500
            focus:border-indigo-500">
            <span id="items-dev-text" class="dark:text-white ml-4"
              >Items Dev</span
            >
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="items-dev-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the IDs of the player's items, mainly for development
                purposes.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingDistance"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="distance-text" class="dark:text-white ml-4"
              >Distance</span
            >
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="distance-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the distance between you and the other player.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingGuild"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="guild-text" class="dark:text-white ml-4">Guild</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="guild-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows the guild name of the other player.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingFlash"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="flash-text" class="dark:text-white ml-4"
              >Screen Flash</span
            >
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="flash-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Shows a red flash when a player is detected.
              </span>
            </span>
          </label>

          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="settingSound"
              class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
            />
            <span id="sound-text" class="dark:text-white ml-4">Sound</span>
            <span class="relative group">
              <svg
                class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 8v4m0 4h.01"
                ></path>
                <circle cx="12" cy="12" r="10"></circle>
              </svg>
              <span
                id="sound-tooltip"
                class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
              >
                Play a sound when a player is detected.
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div
      class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div>
        <h4
          id="types-text"
          class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300"
        >
          Types
        </h4>
        <label class="flex items-center">
          <input
            type="checkbox"
            id="settingPassivePlayers"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="passive-text" class="dark:text-white ml-2"
            >Passive Players</span
          >
        </label>

        <label class="flex items-center">
          <input
            type="checkbox"
            id="settingFactionPlayers"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="faction-text" class="dark:text-white ml-2"
            >Faction Players</span
          >
        </label>

        <label class="flex items-center">
          <input
            type="checkbox"
            id="settingDangerousPlayers"
            class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          />
          <span id="dangerous-text" class="dark:text-white ml-2"
            >Dangerous Players</span
          >
          <span class="relative group">
            <svg
              class="w-4 h-4 ml-2 text-gray-600 dark:text-gray-300 cursor-pointer"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 8v4m0 4h.01"
              ></path>
              <circle cx="12" cy="12" r="10"></circle>
            </svg>
            <span
              id="dangerous-tooltip"
              class="absolute top-1/2 left-full ml-2 transform -translate-y-1/2 bg-gray-800 text-white text-xs rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none"
            >
              Dangerous players (yellow-red-black).
            </span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/home.js" defer></script>
