<link rel="stylesheet" href="/style/mobs.css" />

<div class="h-full pb-16 overflow-y-auto">
  <div class="container grid px-6 mx-auto">
    <div>
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Manage Mobs
      </h2>

      <div
        class="w-full overflow-hidden rounded-lg shadow-xs flex justify-between"
      >
        <button
          id="add-mob-btn"
          data-modal-target="add-modal"
          data-modal-toggle="add-modal"
          class="block mb-8 w-56 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        >
          Add +
        </button>

        <div
          class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
        >
          <label for="searchInput" class="sr-only">Search</label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="searchInput"
              class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search for items"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold text-left tracking-wide text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <th class="px-4 py-3">ID</th>
              <th class="px-4 py-3">Icon</th>
              <th class="px-4 py-3">Type</th>
              <th class="px-4 py-3">Tier</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody
            id="tableBody"
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3 text-xs text-center" colspan="5">
                <span class="font-semibold text-red-500">No Mobs</span>
              </td>
            </tr>
          </tbody>
        </table>

        <nav
          class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
          aria-label="Table navigation"
        >
          <span
            class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
            >Showing
            <span class="font-semibold text-gray-900 dark:text-white"
              >1-10</span
            >
            of
            <span
              class="font-semibold text-gray-900 dark:text-white"
              id="totalMobs"
            ></span
          ></span>
          <ul
            class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8"
            id="paginationContainer"
          ></ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal -->
<div
  id="edit-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Edit Mob
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="edit-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <!-- Form for editing -->
        <form class="space-y-4" id="edit-modal-form">
          <div>
            <label
              for="edit-modal-mob-id"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >ID</label
            >
            <input
              type="text"
              id="edit-modal-mob-id"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
            />
          </div>
          <div>
            <label
              for="edit-modal-mob-name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Name</label
            >
            <input
              type="text"
              id="edit-modal-mob-name"
              list="suggestion-name-list"
              autocomplete="off"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
            />
          </div>
          <div>
            <label
              for="edit-modal-mob-type"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Type</label
            >
            <select
              id="edit-modal-mob-type"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
              required
            >
              <option selected disabled>Choose a type</option>
              <option value="LivingHarvestable">LivingHarvestable</option>
              <option value="LivingSkinnable">LivingSkinnable</option>
              <option value="Enemy">Enemy</option>
              <option value="MediumEnemy">MediumEnemy</option>
              <option value="EnchantedEnemy">EnchantedEnemy</option>
              <option value="MiniBoss">MiniBoss</option>
              <option value="Boss">Boss</option>
              <option value="Drone">Drone</option>
              <option value="MistBoss">MistBoss</option>
              <option value="Events">Events</option>
            </select>
          </div>
          <div>
            <label
              for="edit-modal-mob-tier"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Tier</label
            >
            <!-- Add options for tier from I to VIII with values 1 to 8 -->
            <select
              id="edit-modal-mob-tier"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
            >
              <option value="1">I</option>
              <option value="2">II</option>
              <option value="3">III</option>
              <option value="4">IV</option>
              <option value="5">V</option>
              <option value="6">VI</option>
              <option value="7">VII</option>
              <option value="8">VIII</option>
            </select>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="edit-modal"
          id="edit-modal-save"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Save
        </button>
        <button
          data-modal-hide="edit-modal"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End edit modal -->

<!-- Delete modal -->
<div
  id="delete-modal"
  tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="delete-modal"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg
          class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
          Are you sure you want to delete this mob?
        </h3>
        <button
          id="delete-modal-btn"
          data-modal-hide="delete-modal"
          type="button"
          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
        >
          Yes, I'm sure
        </button>
        <button
          data-modal-hide="delete-modal"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          No, cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End delete modal -->

<!-- Add modal -->
<div
  id="add-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Add Mob
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="add-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <!-- Form for editing -->
        <form class="space-y-4" id="add-modal-form">
          <div>
            <label
              for="add-modal-mob-id"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >ID</label
            >
            <input
              type="text"
              id="add-modal-mob-id"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
            />
          </div>
          <div>
            <label
              for="add-modal-mob-name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Name</label
            >
            <input
              type="text"
              id="add-modal-mob-name"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
              list="suggestion-name-list"
              autocomplete="off"
              />
            <datalist id="suggestion-name-list" style="display: none;" >
              <option value="hide" label="Most selector for skinnable mobs" title="Hide"></option>
              <option value="logs" label="Most selector for logs mobs" title="Logs"></option>
              <option value="ore" label="Most selector for ore mobs" title="Ore"></option>
              <option value="fiber" label="Most selector for fiber mobs" title="Ore"></option>

              <option value="GRIFFIN" label="This is a mist boss" title="Griffin"></option>
              <option value="FAIRYDRAGON" label="This is a mist boss" title="Fairy Dragon"></option>
              <option value="CRYSTALSPIDER" label="This is a mist boss" title="Crystal Spider"></option>
            </datalist>
          </div>
          <div>
            <label
              for="add-modal-mob-type"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Type</label
            >
            <select
              id="add-modal-mob-type"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
              required
            >
              <option selected disabled>Choose a type</option>
              <option value="LivingHarvestable">LivingHarvestable</option>
              <option value="LivingSkinnable">LivingSkinnable</option>
              <option value="Enemy">Enemy</option>
              <option value="MediumEnemy">MediumEnemy</option>
              <option value="EnchantedEnemy">EnchantedEnemy</option>
              <option value="MiniBoss">MiniBoss</option>
              <option value="Boss">Boss</option>
              <option value="Drone">Drone</option>
              <option value="MistBoss">MistBoss</option>
              <option value="Events">Events</option>
            </select>
          </div>
          <div>
            <label
              for="add-modal-mob-tier"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Tier</label
            >
            <!-- Add options for tier from I to VIII with values 1 to 8 -->
            <select
              id="add-modal-mob-tier"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600"
              required
            >
              <option selected disabled>Choose a tier</option>
              <option value="1">I</option>
              <option value="2">II</option>
              <option value="3">III</option>
              <option value="4">IV</option>
              <option value="5">V</option>
              <option value="6">VI</option>
              <option value="7">VII</option>
              <option value="8">VIII</option>
            </select>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="add-modal"
          id="add-modal-save"
          type="button"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Save
        </button>
        <button
          id="add-modal-cancel"
          data-modal-hide="add-modal"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-red-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End edit modal -->

<script src="/scripts/mob_handler.js" defer></script>
